# Path where the log file should be written.
LOG_FILE = '/path/to/location/of/output/log'

# Timeout for arp scan packets.
ARP_SCAN_TIMEOUT_MS = 300

# Use a sliding window to smooth out network problems.
SIZE_OF_SLIDING_WINDOW = 3

# Phone numbers.
NUMBERS = {
  'phone_name_1': '+11234567890',
  'phone_name_2': '+10987654321',
}

# Mac addresses and hostname of each phone, the names must match.
MAC_ADDRESSES = {
  'phone_name_1': ('00:00:11:11:22:22', 'phone_name_1.home'),
  'phone_name_2': ('33:33:44:44:55:55', 'phone_name_2.home'),
}
